#show-history{
	cursor: pointer;
}

#signal-light {
	
	margin-top: 3em;
	cursor: pointer;
	width: 300px;
	height: 100px;
	/*border-radius: 50%;*/
}

.buttons {
	margin-top: 3em;
}

.controller {
	cursor: pointer;
	background-color: #888888;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

#search-div {
	margin-top: 3em;
}


#history-table {
	overflow: auto;
}

.popover-content {
	max-height: 150px;
    padding: 1em;
    overflow: auto;
}